HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
/agentcore/infra/cdk.out/
/agentcore/infra/.venv/
/agentcore/infra/__pycache__/
/agentcore/infra/.terraform/
/agentcore/infra/.terraform.lock.hcl
/agentcore/infra/terraform.tfstate
/agentcore/infra/terraform.tfstate.backup
